pio_garland/NodeRed/AlexaGarland_2018_11_26.conf
[{"id":"708b9c24.8f7464","type":"tab","label":"RFM69-Flow"},{"id":"c0f70795.0aa9a8","type":"http in","z":"708b9c24.8f7464","name":"GatewayInput (/gw)","url":"/gw","method":"put","swaggerDoc":"","x":97,"y":114,"wires":[["d807150a.8298b8","76aefa5f.7c75b4"]]},{"id":"76aefa5f.7c75b4","type":"json","z":"708b9c24.8f7464","name":"HTTP-2-JSON","x":319,"y":115,"wires":[["8a88e17a.ccf6b"]]},{"id":"8a88e17a.ccf6b","type":"serial out","z":"708b9c24.8f7464","name":"rfm69_Serial_IN","serial":"8abc8d61.75437","x":959.0000152587891,"y":602.5000085830688,"wires":[]},{"id":"d807150a.8298b8","type":"http response","z":"708b9c24.8f7464","name":"HTTP_Response","x":329,"y":154,"wires":[]},{"id":"50b5c93d.21e698","type":"http in","z":"708b9c24.8f7464","name":"[get]/sprkl/zone/:zone/:seconds","url":"/sprkl/zone/:zone/:seconds","method":"get","swaggerDoc":"","x":136,"y":207,"wires":[["4e4ff8aa.91b938"]]},{"id":"31fdf46f.10e63c","type":"http response","z":"708b9c24.8f7464","name":"HTTP Response","x":1118,"y":215,"wires":[]},{"id":"4e4ff8aa.91b938","type":"template","z":"708b9c24.8f7464","name":"FormatSprklMsg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,{{req.params.zone}},20,{{req.params.seconds}}]}\n","x":389,"y":207,"wires":[["31fdf46f.10e63c","8a88e17a.ccf6b","71f25d82.430614"]]},{"id":"71f25d82.430614","type":"debug","z":"708b9c24.8f7464","name":"FullDebug","active":false,"console":"false","complete":"true","x":1108,"y":254,"wires":[]},{"id":"b7969b15.4d9bd8","type":"http in","z":"708b9c24.8f7464","name":"[get]/sprkl/prog/:progNum/:seconds","url":"/sprkl/prog/:progNum/:seconds","method":"get","swaggerDoc":"","x":145,"y":277,"wires":[["23952d8a.f5c082"]]},{"id":"23952d8a.f5c082","type":"template","z":"708b9c24.8f7464","name":"FormatSprklProg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,{{req.params.progNum}},20,{{req.params.seconds}}]}\n","x":399,"y":274,"wires":[["71f25d82.430614","31fdf46f.10e63c","8a88e17a.ccf6b"]]},{"id":"19be7e36.4c0c52","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Foxy","inputtrigger":false,"x":120,"y":793,"wires":[["900ef714.4eb458"]],"outputLabels":["bri"]},{"id":"b49c81a3.44b09","type":"debug","z":"708b9c24.8f7464","name":"Alexa Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":771.2500152587891,"y":858.0000114440918,"wires":[]},{"id":"d75837df.8d0158","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Water Zone 1","inputtrigger":false,"x":137,"y":566,"wires":[["3851f01c.c8b05"]]},{"id":"3851f01c.c8b05","type":"template","z":"708b9c24.8f7464","name":"WaterZone1_60","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,1,20,60]}","output":"str","x":400,"y":544,"wires":[["b49c81a3.44b09","8a88e17a.ccf6b"]]},{"id":"b3ed9a0e.51fa78","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Sprinkler","inputtrigger":false,"x":102,"y":653,"wires":[["790c7909.7fe918"]]},{"id":"790c7909.7fe918","type":"switch","z":"708b9c24.8f7464","name":"Sprinkle_on_off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":311,"y":652,"wires":[["598282f8.7d14ec"],["82426ad4.41cbd8"]]},{"id":"598282f8.7d14ec","type":"template","z":"708b9c24.8f7464","name":"TurnSprinkler_on_100_perZone","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,100,20,100]}","output":"str","x":595,"y":632,"wires":[["8a88e17a.ccf6b"]]},{"id":"82426ad4.41cbd8","type":"template","z":"708b9c24.8f7464","name":"TurnSprinkler_off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,0,20,0]}","output":"str","x":544,"y":689,"wires":[["8a88e17a.ccf6b"]]},{"id":"900ef714.4eb458","type":"function","z":"708b9c24.8f7464","name":"Dump","func":"\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":828,"wires":[["b49c81a3.44b09"]]},{"id":"b7d5db2d.646c78","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Garland rainbow","inputtrigger":false,"x":127,"y":889,"wires":[["75632dfe.f008a4"]]},{"id":"75632dfe.f008a4","type":"template","z":"708b9c24.8f7464","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":437,"y":897,"wires":[["8a88e17a.ccf6b","b49c81a3.44b09"]]},{"id":"b6565e6.9a240a","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Garland MidnightBlue","inputtrigger":false,"x":140,"y":955.0000143051147,"wires":[["1de4a72a.abd089"]]},{"id":"39ec5399.cea4bc","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Garland Candy Cane","inputtrigger":false,"x":137.5,"y":987.5000152587891,"wires":[["ab3e98de.3c3258"]]},{"id":"1de4a72a.abd089","type":"template","z":"708b9c24.8f7464","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":401.25000762939453,"y":955.0000133514404,"wires":[["8a88e17a.ccf6b","b49c81a3.44b09"]]},{"id":"ab3e98de.3c3258","type":"template","z":"708b9c24.8f7464","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":390.00000762939453,"y":988.7500152587891,"wires":[["8a88e17a.ccf6b","b49c81a3.44b09"]]},{"id":"3b82b7fa.f04168","type":"switch","z":"708b9c24.8f7464","name":"Garland_Glitter_On_Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":377.50000762939453,"y":1025.000015258789,"wires":[["ac82b5de.4d3238"],["eb9b78d3.0cef18"]]},{"id":"ac82b5de.4d3238","type":"template","z":"708b9c24.8f7464","name":"Garlnad Glitter On","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,200]}","output":"str","x":672.5000076293945,"y":1016.2500152587891,"wires":[["8a88e17a.ccf6b"]]},{"id":"e9db3ab5.1e2e18","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Garland Glitter","inputtrigger":false,"x":117.5,"y":1022.5000152587891,"wires":[["3b82b7fa.f04168"]]},{"id":"eb9b78d3.0cef18","type":"template","z":"708b9c24.8f7464","name":"Garlnad Glitter Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,201]}","output":"str","x":673.7500076293945,"y":1060.000015258789,"wires":[["8a88e17a.ccf6b"]]},{"id":"93d2833.a26598","type":"template","z":"708b9c24.8f7464","name":"Xmas Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,16]}","output":"str","x":366.25000762939453,"y":1070.000015258789,"wires":[["8a88e17a.ccf6b"]]},{"id":"f1554133.fad21","type":"alexa-local","z":"708b9c24.8f7464","devicename":"Garland Christmas","inputtrigger":false,"x":95,"y":1071.25,"wires":[["93d2833.a26598"]]},{"id":"8abc8d61.75437","type":"serial-port","z":"708b9c24.8f7464","serialport":"/dev/ttyGW2","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]