NodeRed/2018_12_06_NodeRedBackup.conf
[{"id":"f1bb38a0.d0cae8","type":"tab","label":"RFM69-Flow"},{"id":"f06326ad.639c68","type":"http in","z":"f1bb38a0.d0cae8","name":"GatewayInput (/gw)","url":"/gw","method":"put","swaggerDoc":"","x":95,"y":23,"wires":[["ab877bd7.f2cb78","3666b896.c55de8"]]},{"id":"3666b896.c55de8","type":"json","z":"f1bb38a0.d0cae8","name":"HTTP-2-JSON","x":306,"y":20,"wires":[["ef7f1f54.17fa1"]]},{"id":"ef7f1f54.17fa1","type":"serial out","z":"f1bb38a0.d0cae8","name":"rfm69_Serial_IN","serial":"efa1e6e.0d9ef18","x":916,"y":306.5,"wires":[]},{"id":"ab877bd7.f2cb78","type":"http response","z":"f1bb38a0.d0cae8","name":"HTTP_Response","x":309,"y":62,"wires":[]},{"id":"d1261222.6ada4","type":"http in","z":"f1bb38a0.d0cae8","name":"[get]/sprkl/zone/:zone/:seconds","url":"/sprkl/zone/:zone/:seconds","method":"get","swaggerDoc":"","x":135,"y":111,"wires":[["3951eb8b.bde044"]]},{"id":"27aa4bf7.47dcd4","type":"http response","z":"f1bb38a0.d0cae8","name":"HTTP Response","x":684,"y":112,"wires":[]},{"id":"3951eb8b.bde044","type":"template","z":"f1bb38a0.d0cae8","name":"FormatSprklMsg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,{{req.params.zone}},20,{{req.params.seconds}}]}\n","x":394,"y":111,"wires":[["27aa4bf7.47dcd4","ef7f1f54.17fa1","ac566ac4.a0b8b8"]]},{"id":"ac566ac4.a0b8b8","type":"debug","z":"f1bb38a0.d0cae8","name":"RFM69 Gateway Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":703,"y":156,"wires":[]},{"id":"2b6a7e4f.1b3f92","type":"http in","z":"f1bb38a0.d0cae8","name":"[get]/sprkl/prog/:progNum/:seconds","url":"/sprkl/prog/:progNum/:seconds","method":"get","swaggerDoc":"","x":145,"y":157,"wires":[["7bda820b.610e1c"]]},{"id":"7bda820b.610e1c","type":"template","z":"f1bb38a0.d0cae8","name":"FormatSprklProg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,{{req.params.progNum}},20,{{req.params.seconds}}]}\n","x":415,"y":156,"wires":[["ac566ac4.a0b8b8","27aa4bf7.47dcd4","ef7f1f54.17fa1"]]},{"id":"85f46f1.cc3599","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Foxy","inputtrigger":false,"x":59,"y":338,"wires":[["9cfb40f6.24906"]],"outputLabels":["bri"]},{"id":"c47bada1.fbaa","type":"debug","z":"f1bb38a0.d0cae8","name":"Alexa Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":924.3928680419922,"y":564.7143054008484,"wires":[]},{"id":"b7ce7228.7aac5","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Water Zone 1","inputtrigger":false,"x":85,"y":213,"wires":[["1bf09bc9.8d8c04"]]},{"id":"1bf09bc9.8d8c04","type":"template","z":"f1bb38a0.d0cae8","name":"WaterZone1_60","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,1,20,60]}","output":"str","x":313,"y":209,"wires":[["c47bada1.fbaa","ef7f1f54.17fa1"]]},{"id":"d8426ae2.905878","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Sprinkler","inputtrigger":false,"x":65,"y":259,"wires":[["dc2ffc3a.8a26f"]]},{"id":"dc2ffc3a.8a26f","type":"switch","z":"f1bb38a0.d0cae8","name":"Sprinkle_on_off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":241,"y":260,"wires":[["c2e4d17c.822d3"],["75e8fb8.d049f04"]]},{"id":"c2e4d17c.822d3","type":"template","z":"f1bb38a0.d0cae8","name":"TurnSprinkler_on_100_perZone","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,100,20,100]}","output":"str","x":517,"y":253,"wires":[["ef7f1f54.17fa1"]]},{"id":"75e8fb8.d049f04","type":"template","z":"f1bb38a0.d0cae8","name":"TurnSprinkler_off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,0,20,0]}","output":"str","x":476,"y":289,"wires":[["ef7f1f54.17fa1"]]},{"id":"c00086fd.608398","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Garland rainbow","inputtrigger":false,"x":90,"y":397,"wires":[["8ba5fe52.52fef"]]},{"id":"8ba5fe52.52fef","type":"template","z":"f1bb38a0.d0cae8","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":317,"y":398,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"3b8f10e9.e2f82","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Garland MidnightBlue","inputtrigger":false,"x":110,"y":443,"wires":[["25d254d5.5963ac"]]},{"id":"f4d38e32.3d6fc","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Garland Candy Cane","inputtrigger":false,"x":110,"y":488.5,"wires":[["edaa9c78.a30f"]]},{"id":"25d254d5.5963ac","type":"template","z":"f1bb38a0.d0cae8","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":350.25,"y":443,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"edaa9c78.a30f","type":"template","z":"f1bb38a0.d0cae8","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":334,"y":488.75,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"33b6ced7.b410b2","type":"switch","z":"f1bb38a0.d0cae8","name":"Garland_Glitter_On_Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":309.5,"y":534,"wires":[["ee4ff145.f6dfe"],["4acbdae8.0ffb34"]]},{"id":"ee4ff145.f6dfe","type":"template","z":"f1bb38a0.d0cae8","name":"Garlnad Glitter On","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,200]}","output":"str","x":556.5,"y":528.25,"wires":[["ef7f1f54.17fa1"]]},{"id":"af615fc8.34154","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Garland Glitter","inputtrigger":false,"x":90,"y":534.5,"wires":[["33b6ced7.b410b2"]]},{"id":"4acbdae8.0ffb34","type":"template","z":"f1bb38a0.d0cae8","name":"Garlnad Glitter Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,201]}","output":"str","x":555.75,"y":567,"wires":[["ef7f1f54.17fa1"]]},{"id":"12075ce7.bfe1d3","type":"template","z":"f1bb38a0.d0cae8","name":"Xmas Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,16]}","output":"str","x":296.25,"y":580,"wires":[["ef7f1f54.17fa1"]]},{"id":"ef685029.f3602","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Garland Christmas","inputtrigger":false,"x":100,"y":581.25,"wires":[["12075ce7.bfe1d3"]]},{"id":"7db41ac.a749ae4","type":"template","z":"f1bb38a0.d0cae8","name":"Garland Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,250]}","output":"str","x":246.25,"y":632.25,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"246883da.41f3ec","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Garland","inputtrigger":false,"x":70,"y":632.4999847412109,"wires":[["7db41ac.a749ae4"]]},{"id":"9cfb40f6.24906","type":"template","z":"f1bb38a0.d0cae8","name":"Brightness","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ bri }}","output":"str","x":408,"y":329,"wires":[["c47bada1.fbaa"]]},{"id":"50420f4d.296b8","type":"debug","z":"f1bb38a0.d0cae8","name":"DumpMsg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":927.1428680419922,"y":615.7143054008484,"wires":[]},{"id":"794af146.bc824","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Xmas Rainbow","inputtrigger":false,"x":86,"y":684,"wires":[["d59b8d62.5ad43"]]},{"id":"d59b8d62.5ad43","type":"template","z":"f1bb38a0.d0cae8","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":313,"y":685,"wires":[["ef7f1f54.17fa1"]]},{"id":"bdbc4ecf.4ccce","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Xmas MidnightBlue","inputtrigger":false,"x":96,"y":730,"wires":[["967078b4.478ce8"]]},{"id":"3021c463.74737c","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Xmas Candy Cane","inputtrigger":false,"x":96,"y":775.5,"wires":[["3048d395.89c15c"]]},{"id":"967078b4.478ce8","type":"template","z":"f1bb38a0.d0cae8","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":346.25,"y":730,"wires":[["ef7f1f54.17fa1"]]},{"id":"3048d395.89c15c","type":"template","z":"f1bb38a0.d0cae8","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":330,"y":775.75,"wires":[["ef7f1f54.17fa1"]]},{"id":"708a9a16.692914","type":"switch","z":"f1bb38a0.d0cae8","name":"Garland_Glitter_On_Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":305.5,"y":821,"wires":[["f57bca5a.296698"],["e996538e.dd66"]]},{"id":"f57bca5a.296698","type":"template","z":"f1bb38a0.d0cae8","name":"Garlnad Glitter On","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,200]}","output":"str","x":552.5,"y":815.25,"wires":[["ef7f1f54.17fa1"]]},{"id":"a25c5bbc.929bb8","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Xmas Glitter","inputtrigger":false,"x":76,"y":821.5,"wires":[["708a9a16.692914"]]},{"id":"e996538e.dd66","type":"template","z":"f1bb38a0.d0cae8","name":"Garlnad Glitter Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,201]}","output":"str","x":551.75,"y":854,"wires":[["ef7f1f54.17fa1"]]},{"id":"e0578731.ee15c8","type":"template","z":"f1bb38a0.d0cae8","name":"Xmas Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,16]}","output":"str","x":292.25,"y":867,"wires":[["ef7f1f54.17fa1"]]},{"id":"4d8850cd.006d7","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Xmas Christmas","inputtrigger":false,"x":86,"y":868.25,"wires":[["e0578731.ee15c8"]]},{"id":"3f98e5a2.2c683a","type":"template","z":"f1bb38a0.d0cae8","name":"Garland Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,250]}","output":"str","x":257.25,"y":921.25,"wires":[["ef7f1f54.17fa1"]]},{"id":"99a0ceb5.fa7a2","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Xmas","inputtrigger":false,"x":56,"y":919.4999847412109,"wires":[["3f98e5a2.2c683a"]]},{"id":"c8302d5e.851e9","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantle","inputtrigger":false,"x":55.25,"y":976.5000152587891,"wires":[["1bb7cf3d.92d271"]]},{"id":"1bb7cf3d.92d271","type":"template","z":"f1bb38a0.d0cae8","name":"Set Mantle Brightness","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 30, \"data\":[42,{{bri}}]}","output":"str","x":260.75000762939453,"y":974.0000143051147,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"8c3f0ce5.19c6f","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantle Speed","inputtrigger":false,"x":85,"y":1029.750015258789,"wires":[["665d070b.ab9338"]]},{"id":"665d070b.ab9338","type":"template","z":"f1bb38a0.d0cae8","name":"Set Mantle LED Speed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 40, \"data\":[42,{{bri}}]}","output":"str","x":290.00000381469727,"y":1024.500015258789,"wires":[["c47bada1.fbaa","ef7f1f54.17fa1"]]},{"id":"600ce08e.e1363","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantle Reset","inputtrigger":false,"x":75,"y":1083.5000171661377,"wires":[["45e97259.b93b1c"]]},{"id":"45e97259.b93b1c","type":"template","z":"f1bb38a0.d0cae8","name":"Mantle Reset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 251, \"data\":[0,0]}","output":"str","x":311.75000762939453,"y":1071.0000171661377,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"e0b73cd2.16c08","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantlle Glitter","inputtrigger":false,"x":85,"y":1128.5000171661377,"wires":[["8e6fe62e.e50668"]]},{"id":"8e6fe62e.e50668","type":"template","z":"f1bb38a0.d0cae8","name":"Set Mantle Glitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 42, \"data\":[42,{{bri}}]}","output":"str","x":298.00000762939453,"y":1129.0000176429749,"wires":[["ef7f1f54.17fa1","c47bada1.fbaa"]]},{"id":"a127c010.da707","type":"template","z":"f1bb38a0.d0cae8","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":320.00000381469727,"y":1172.5000171661377,"wires":[["c47bada1.fbaa","ef7f1f54.17fa1"]]},{"id":"bed8418f.20205","type":"template","z":"f1bb38a0.d0cae8","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":327.00003814697266,"y":1218.750018119812,"wires":[["c47bada1.fbaa","ef7f1f54.17fa1"]]},{"id":"7f29dd3e.ac50c4","type":"template","z":"f1bb38a0.d0cae8","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":295.75000762939453,"y":1259.500018119812,"wires":[["c47bada1.fbaa","ef7f1f54.17fa1"]]},{"id":"750f6cac.d2f104","type":"template","z":"f1bb38a0.d0cae8","name":"Xmas Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,16]}","output":"str","x":324.96430587768555,"y":1319.6785316467285,"wires":[["c47bada1.fbaa","ef7f1f54.17fa1"]]},{"id":"c65da32.274e86","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantlle Rainbow","inputtrigger":false,"x":95,"y":1178.7500171661377,"wires":[["a127c010.da707"]]},{"id":"889e0949.f8ad08","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantlle MidnightBue","inputtrigger":false,"x":105,"y":1215.0000171661377,"wires":[["bed8418f.20205"]]},{"id":"4ae61a91.f5d7c4","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantlle CandyCane","inputtrigger":false,"x":95,"y":1253.7500171661377,"wires":[["7f29dd3e.ac50c4"]]},{"id":"3e46c8f8.0b52b8","type":"alexa-local","z":"f1bb38a0.d0cae8","devicename":"Mantlle Xmas","inputtrigger":false,"x":91.07142639160156,"y":1321.7856750488281,"wires":[["750f6cac.d2f104"]]},{"id":"efa1e6e.0d9ef18","type":"serial-port","z":"f1bb38a0.d0cae8","serialport":"/dev/ttyGW2","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]