NodeRed/AlexaNeoPixel_20201214.json
[{"id":"7adc9110.aae43","type":"tab","label":"RFM69-Sensor-Flow"},{"id":"f57840d.790b6c","type":"http in","z":"7adc9110.aae43","name":"GatewayInput (/gw)","url":"/gw","method":"put","swaggerDoc":"","x":155,"y":84,"wires":[["9d198199.824d5","b181a2b9.ff705"]]},{"id":"b181a2b9.ff705","type":"json","z":"7adc9110.aae43","name":"HTTP-2-JSON","x":792.2500076293945,"y":94.75000095367432,"wires":[["e017b8bd.a36ad8"]]},{"id":"e017b8bd.a36ad8","type":"serial out","z":"7adc9110.aae43","name":"rfm69_Serial_IN","serial":"e20e28e7.bcc1e8","x":1519,"y":731.5,"wires":[]},{"id":"9d198199.824d5","type":"http response","z":"7adc9110.aae43","name":"HTTP_Response","x":369,"y":123,"wires":[]},{"id":"2d3024a1.4f161c","type":"http in","z":"7adc9110.aae43","name":"[get]/sprkl/zone/:zone/:seconds","url":"/sprkl/zone/:zone/:seconds","method":"get","swaggerDoc":"","x":195,"y":172,"wires":[["b5ac581d.98d648"]]},{"id":"963b604c.8eff7","type":"http response","z":"7adc9110.aae43","name":"HTTP Response","x":1137.750015258789,"y":146.75000286102295,"wires":[]},{"id":"b5ac581d.98d648","type":"template","z":"7adc9110.aae43","name":"FormatSprklMsg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,{{req.params.zone}},20,{{req.params.seconds}}]}\n","x":787.7500076293945,"y":178.25000095367432,"wires":[["963b604c.8eff7","e017b8bd.a36ad8","96f7d36b.2afde"]]},{"id":"96f7d36b.2afde","type":"debug","z":"7adc9110.aae43","name":"RFM69 Gateway Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1102.750015258789,"y":30.000001907348633,"wires":[]},{"id":"53d7e4e1.c5244c","type":"http in","z":"7adc9110.aae43","name":"[get]/sprkl/prog/:progNum/:seconds","url":"/sprkl/prog/:progNum/:seconds","method":"get","swaggerDoc":"","x":205,"y":218,"wires":[["8da56e91.7cd1c"]]},{"id":"8da56e91.7cd1c","type":"template","z":"7adc9110.aae43","name":"FormatSprklProg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,{{req.params.progNum}},20,{{req.params.seconds}}]}\n","x":808.7500076293945,"y":223.25000095367432,"wires":[["96f7d36b.2afde","963b604c.8eff7","e017b8bd.a36ad8"]]},{"id":"33fd7bb.9725c84","type":"template","z":"7adc9110.aae43","name":"WaterZone1_60","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,1,20,60]}","output":"str","x":624.2500038146973,"y":501.25000381469727,"wires":[["e017b8bd.a36ad8"]]},{"id":"a5761458.345e48","type":"switch","z":"7adc9110.aae43","name":"Sprinkle_on_off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":527.2500076293945,"y":308.5000057220459,"wires":[["f922b2be.dd22"],["9eaca986.519648"]]},{"id":"f922b2be.dd22","type":"template","z":"7adc9110.aae43","name":"TurnSprinkler_on_100_perZone","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,100,20,100]}","output":"str","x":767,"y":273.0000009536743,"wires":[["e017b8bd.a36ad8"]]},{"id":"9eaca986.519648","type":"template","z":"7adc9110.aae43","name":"TurnSprinkler_off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,0,20,0]}","output":"str","x":726,"y":309.0000009536743,"wires":[["e017b8bd.a36ad8"]]},{"id":"724c082c.11f5d8","type":"template","z":"7adc9110.aae43","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":636,"y":561,"wires":[["e017b8bd.a36ad8"]]},{"id":"1af5e7ed.0f6a68","type":"template","z":"7adc9110.aae43","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":630.25,"y":733,"wires":[["e017b8bd.a36ad8"]]},{"id":"80b10c2.5d8b9f","type":"template","z":"7adc9110.aae43","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":649,"y":648.75,"wires":[["e017b8bd.a36ad8"]]},{"id":"89ac3337.1bee9","type":"switch","z":"7adc9110.aae43","name":"Garland_Glitter_On_Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":621.5,"y":692,"wires":[["ef9662dc.726d5"],["f1ee912f.b7f93"]]},{"id":"ef9662dc.726d5","type":"template","z":"7adc9110.aae43","name":"Garlnad Glitter On","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,200]}","output":"str","x":868.5,"y":686.25,"wires":[["e017b8bd.a36ad8"]]},{"id":"f1ee912f.b7f93","type":"template","z":"7adc9110.aae43","name":"Garlnad Glitter Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,201]}","output":"str","x":867.75,"y":725,"wires":[["e017b8bd.a36ad8"]]},{"id":"1043601d.66f67","type":"template","z":"7adc9110.aae43","name":"Xmas Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,16]}","output":"str","x":643.25,"y":602,"wires":[["e017b8bd.a36ad8"]]},{"id":"b732baad.8743d8","type":"template","z":"7adc9110.aae43","name":"Garland Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 45, \"meth\": 2, \"type\": 20, \"data\":[10,250]}","output":"str","x":540.25,"y":772.25,"wires":[["e017b8bd.a36ad8"]]},{"id":"63d6c463.70469c","type":"switch","z":"7adc9110.aae43","name":"Xmas_Glitter_On_Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":589.5,"y":1150,"wires":[["2cdcec64.5db284"],["255f38d5.850f78"]]},{"id":"2cdcec64.5db284","type":"template","z":"7adc9110.aae43","name":"Xmas Glitter On","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,200]}","output":"str","x":823.5,"y":1135.25,"wires":[["e017b8bd.a36ad8"]]},{"id":"255f38d5.850f78","type":"template","z":"7adc9110.aae43","name":"Xmas Glitter Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,201]}","output":"str","x":823.75,"y":1168,"wires":[["e017b8bd.a36ad8"]]},{"id":"3b6d5866.a1a2d8","type":"template","z":"7adc9110.aae43","name":"Xmas Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,16]}","output":"str","x":764.25,"y":1203,"wires":[["e017b8bd.a36ad8"]]},{"id":"389e124e.205dbe","type":"template","z":"7adc9110.aae43","name":"Xmas Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,250]}","output":"str","x":747.25,"y":1236.25,"wires":[["e017b8bd.a36ad8"]]},{"id":"f3439e0.36d166","type":"template","z":"7adc9110.aae43","name":"Set Mantle Brightness","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 30, \"data\":[42,{{bri}}]}","output":"str","x":574.75,"y":835,"wires":[["e017b8bd.a36ad8"]]},{"id":"206678fd.0a3df8","type":"template","z":"7adc9110.aae43","name":"Set Mantle LED Speed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 40, \"data\":[42,{{bri}}]}","output":"str","x":600,"y":877.5,"wires":[[]]},{"id":"df24e9e1.0e59d8","type":"template","z":"7adc9110.aae43","name":"Mantel Reset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 251, \"data\":[0,0]}","output":"str","x":580.75,"y":917,"wires":[["e017b8bd.a36ad8"]]},{"id":"c450bc76.60553","type":"template","z":"7adc9110.aae43","name":"Set Mantle Glitter","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 42, \"data\":[42,{{bri}}]}","output":"str","x":596,"y":963,"wires":[["e017b8bd.a36ad8"]]},{"id":"a3a6a572.025428","type":"template","z":"7adc9110.aae43","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":608,"y":1003.5,"wires":[["e017b8bd.a36ad8"]]},{"id":"1d65a4f6.09b69b","type":"template","z":"7adc9110.aae43","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":631.0000610351562,"y":1044.75,"wires":[["e017b8bd.a36ad8"]]},{"id":"68b3e1ad.78cab","type":"template","z":"7adc9110.aae43","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 64, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":628.75,"y":1081.5,"wires":[["e017b8bd.a36ad8"]]},{"id":"163c98c8.bf9237","type":"serial in","z":"7adc9110.aae43","name":"Serial_Out","serial":"e20e28e7.bcc1e8","x":123,"y":28,"wires":[["96f7d36b.2afde"]]},{"id":"d5a48756.81de68","type":"template","z":"7adc9110.aae43","name":"WaterFrontLawn_10Min","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,101,20,600]}","output":"str","x":655.5000076293945,"y":357.2500066757202,"wires":[["e017b8bd.a36ad8"]]},{"id":"903bd2a7.b71dc","type":"template","z":"7adc9110.aae43","name":"WaterBackLawn_10Min","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,102,20,600]}","output":"str","x":642.2500114440918,"y":399.2500066757202,"wires":[["e017b8bd.a36ad8"]]},{"id":"6e63a658.8b3ee8","type":"amazon-echo-hub","z":"7adc9110.aae43","port":"80","x":144,"y":972,"wires":[["36cfd155.cd7b7e","aa8679d9.2744f8","cde7e89a.17b6a8","24b7f0c1.98ef4","faa57027.ef944","862abab0.ea8008","4d9d5662.d7a7c8","1356c1b3.ddea2e","87b35298.8203b","2555e79b.6929e8","9f4d6663.e30ce8","affa81f6.d894d","101eab36.52f155","be92b717.f52f78","47e82da6.d401c4","d0111e6e.546a","36cbc32e.c9171c","70257c35.c1c2c4"]]},{"id":"5daff348.92410c","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garden","topic":"","x":361.2500228881836,"y":447.5000057220459,"wires":[["baaca313.07334"]]},{"id":"baaca313.07334","type":"template","z":"7adc9110.aae43","name":"WaterZone3_Garden_10M","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,3,20,600]}","output":"str","x":657.5000152587891,"y":442.2500047683716,"wires":[["e017b8bd.a36ad8"]]},{"id":"aa8679d9.2744f8","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Xmas","topic":"","x":374,"y":1219,"wires":[["42beb5be.abe77c"]]},{"id":"36cfd155.cd7b7e","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Xmas Glitter","topic":"","x":396,"y":1178,"wires":[["63d6c463.70469c"]]},{"id":"42beb5be.abe77c","type":"switch","z":"7adc9110.aae43","name":"Xmas_On_Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1220,"wires":[["3b6d5866.a1a2d8"],["389e124e.205dbe"]]},{"id":"81b8ef9.cd84e1","type":"comment","z":"7adc9110.aae43","name":"Christmas Tree ","info":"","x":386,"y":1142,"wires":[]},{"id":"890ee987.cee038","type":"comment","z":"7adc9110.aae43","name":"Mantel LEDs","info":"","x":382,"y":818,"wires":[]},{"id":"cde7e89a.17b6a8","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel","topic":"","x":367,"y":856,"wires":[["f3439e0.36d166"]]},{"id":"24b7f0c1.98ef4","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel Speed","topic":"","x":391,"y":893,"wires":[["206678fd.0a3df8"]]},{"id":"faa57027.ef944","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel Reset","topic":"","x":382,"y":928,"wires":[["df24e9e1.0e59d8"]]},{"id":"862abab0.ea8008","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel Glitter","topic":"","x":389,"y":964,"wires":[["c450bc76.60553"]]},{"id":"4d9d5662.d7a7c8","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel Rainbow","topic":"","x":385,"y":1000,"wires":[["a3a6a572.025428"]]},{"id":"87b35298.8203b","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel Candy Cane","topic":"","x":405,"y":1074,"wires":[["68b3e1ad.78cab"]]},{"id":"1356c1b3.ddea2e","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Mantel Midnight Blue","topic":"","x":404,"y":1039,"wires":[["1d65a4f6.09b69b"]]},{"id":"47e82da6.d401c4","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garland","topic":"","x":370,"y":773,"wires":[["b732baad.8743d8"]]},{"id":"affa81f6.d894d","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garland Xmas","topic":"","x":383,"y":613,"wires":[["1043601d.66f67"]]},{"id":"2555e79b.6929e8","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garland Glitter","topic":"","x":383.50000381469727,"y":694.2500114440918,"wires":[["89ac3337.1bee9"]]},{"id":"101eab36.52f155","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garland Candy Cane","topic":"","x":404,"y":652,"wires":[["80b10c2.5d8b9f"]]},{"id":"be92b717.f52f78","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garland Midnight Blue","topic":"","x":407,"y":737,"wires":[["1af5e7ed.0f6a68"]]},{"id":"9f4d6663.e30ce8","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Garland Rainbow","topic":"","x":392,"y":577,"wires":[["724c082c.11f5d8"]]},{"id":"135ce42.d2ea21c","type":"comment","z":"7adc9110.aae43","name":"Garland LEDs","info":"","x":367,"y":541,"wires":[]},{"id":"52c43b9a.26f4c4","type":"comment","z":"7adc9110.aae43","name":"Sprinkler System","info":"","x":372.50001525878906,"y":273.75000953674316,"wires":[]},{"id":"d32ac501.e30798","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Back Lawn","topic":"","x":372.50000762939453,"y":405.00000762939453,"wires":[["903bd2a7.b71dc"]]},{"id":"4e30f5a0.6e668c","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Front Lawn","topic":"","x":371.25000762939453,"y":366.2500066757202,"wires":[["d5a48756.81de68"]]},{"id":"ab5f726c.deb96","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Sprinkler","topic":"","x":357.50000381469727,"y":326.2500066757202,"wires":[["a5761458.345e48"]]},{"id":"63bc870e.432838","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Zone 1","topic":"","x":363.75000381469727,"y":490.0000047683716,"wires":[["33fd7bb.9725c84"]]},{"id":"2f6a2a2d.b74466","type":"ui_dropdown","z":"7adc9110.aae43","name":"ZoneSelector","label":"ZoneSelect","tooltip":"","place":"Select Zone","group":"35dfcc7e.64ed74","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Tree Lawn","value":0,"type":"num"},{"label":"Front Sidewalk","value":1,"type":"num"},{"label":"Front Main","value":2,"type":"num"},{"label":"Garden","value":3,"type":"num"},{"label":"Back SouthSide","value":4,"type":"num"},{"label":"Back South Middle","value":5,"type":"num"},{"label":"Back North Middle","value":6,"type":"num"},{"label":"Back North","value":7,"type":"num"}],"payload":"","topic":"","x":1209,"y":309,"wires":[["201db93.1720846"]],"outputLabels":["Num"]},{"id":"201db93.1720846","type":"template","z":"7adc9110.aae43","name":"FormatSprklMsg","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,{{payload}},20,300]}\n","x":1531,"y":311,"wires":[["e017b8bd.a36ad8"]]},{"id":"eb7c8025.adb62","type":"debug","z":"7adc9110.aae43","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1905,"y":253,"wires":[]},{"id":"dbc2e2c2.d4833","type":"ui_button","z":"7adc9110.aae43","name":"SprinklerStartButtonFront","group":"8e0a3b30.e84468","order":1,"width":0,"height":0,"passthru":false,"label":"Water Front Lawn","tooltip":"","color":"","bgcolor":"","icon":"fa-shower","payload":"payload","payloadType":"flow","topic":"","x":1201,"y":364,"wires":[["dde30888.e0d448"]]},{"id":"dde30888.e0d448","type":"template","z":"7adc9110.aae43","name":"WaterFrontLawn_10Min","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,101,20,600]}","output":"str","x":1493,"y":360,"wires":[["e017b8bd.a36ad8"]]},{"id":"464e5b97.dbc6b4","type":"template","z":"7adc9110.aae43","name":"WaterBackLawn_10Min","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,102,20,600]}","output":"str","x":1502.75,"y":411,"wires":[["e017b8bd.a36ad8"]]},{"id":"e8013340.b6a4d","type":"ui_button","z":"7adc9110.aae43","name":"SprinklerStartButtonBack","group":"8e0a3b30.e84468","order":2,"width":0,"height":0,"passthru":false,"label":"Water Back Lawn","tooltip":"","color":"","bgcolor":"","icon":"fa-shower","payload":"payload","payloadType":"flow","topic":"","x":1212,"y":414,"wires":[["464e5b97.dbc6b4"]]},{"id":"86abf0f3.20c8f","type":"ui_button","z":"7adc9110.aae43","name":"SprinklerStartButtonGarden","group":"8e0a3b30.e84468","order":3,"width":0,"height":0,"passthru":false,"label":"Water Garden","tooltip":"","color":"","bgcolor":"","icon":"fa-shower","payload":"payload","payloadType":"flow","topic":"","x":1222,"y":473,"wires":[["abb86224.a6e23"]]},{"id":"abb86224.a6e23","type":"template","z":"7adc9110.aae43","name":"WaterGarden_5Min","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 20, \"data\":[10,3,20,300]}\n","x":1490,"y":470,"wires":[["e017b8bd.a36ad8"]]},{"id":"abde8103.a746f","type":"template","z":"7adc9110.aae43","name":"Stop_Sprinkler","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 5, \"meth\": 2, \"type\": 30, \"data\":[10,142,20,1]}","output":"str","x":1660,"y":577,"wires":[["e017b8bd.a36ad8"]]},{"id":"76e9dc1e.964e64","type":"ui_button","z":"7adc9110.aae43","name":"StopSprinkler","group":"8e0a3b30.e84468","order":4,"width":0,"height":0,"passthru":false,"label":"Stop Sprinkler","tooltip":"","color":"","bgcolor":"red","icon":"fa-hand-stop-o","payload":"payload","payloadType":"flow","topic":"","x":1328,"y":585,"wires":[["abde8103.a746f"]]},{"id":"a7bfddb6.b4fca","type":"change","z":"7adc9110.aae43","name":"SetSprklZoneNumber","rules":[{"t":"set","p":"payload","pt":"global","to":"SprklZoneNumber","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1709,"y":47,"wires":[[]]},{"id":"dc4fcd6.4ce8d3","type":"ui_dropdown","z":"7adc9110.aae43","name":"__ZoneSelector","label":"__ZoneSelect","tooltip":"Select Zone Name","place":"Select Zone","group":"2dab935d.b634cc","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Tree Lawn","value":0,"type":"num"},{"label":"Front Sidewalk","value":1,"type":"num"},{"label":"Front Main","value":2,"type":"num"},{"label":"Garden","value":3,"type":"num"},{"label":"Back SouthSide","value":4,"type":"num"},{"label":"Back South Middle","value":5,"type":"num"},{"label":"Back North Middle","value":6,"type":"num"},{"label":"Back North","value":7,"type":"num"}],"payload":"","topic":"","x":1489,"y":31,"wires":[["a7bfddb6.b4fca"]],"outputLabels":["Num"]},{"id":"50de3dab.0ebd44","type":"ui_dropdown","z":"7adc9110.aae43","name":"__SetTime","label":"","tooltip":"","place":"Select option","group":"2dab935d.b634cc","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"5 Min","value":300,"type":"num"},{"label":"10 Min","value":600,"type":"num"}],"payload":"","topic":"","x":1483,"y":110,"wires":[["d993a33b.14e4e"]]},{"id":"d993a33b.14e4e","type":"change","z":"7adc9110.aae43","name":"SetZoneTime","rules":[{"t":"set","p":"payload","pt":"global","to":"ZoneTime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1675,"y":97,"wires":[[]]},{"id":"74418a11.3cbd04","type":"function","z":"7adc9110.aae43","name":"CollectInput","func":"msg.payload = [global.get(SprklZoneNumber), global.get(ZoneTime) ]\nreturn msg;","outputs":1,"noerr":0,"x":1671,"y":184,"wires":[[]]},{"id":"642cd9d5.173e38","type":"ui_button","z":"7adc9110.aae43","name":"__SendData","group":"2dab935d.b634cc","order":2,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1497,"y":182,"wires":[["74418a11.3cbd04"]]},{"id":"bb504937.64ffb8","type":"ui_colour_picker","z":"7adc9110.aae43","name":"__Color","label":"","group":"2dab935d.b634cc","format":"hex8","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":1573.5,"y":259,"wires":[["eb7c8025.adb62"]]},{"id":"cca8cc82.b9f77","type":"ui_slider","z":"7adc9110.aae43","name":"__brightness","label":"Brightness","tooltip":"","group":"2dab935d.b634cc","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"255","step":1,"x":1555.5,"y":222,"wires":[["eb7c8025.adb62"]]},{"id":"8b579534.b0a418","type":"mqtt in","z":"7adc9110.aae43","name":"","topic":"home","qos":"2","broker":"6ce54943.72aab8","x":1753.5,"y":391,"wires":[["eb7c8025.adb62"]]},{"id":"8d181a.69bad7e8","type":"mqtt out","z":"7adc9110.aae43","name":"D154A3","topic":"home/lights/D154A3","qos":"","retain":"","broker":"6ce54943.72aab8","x":2227.5,"y":542,"wires":[]},{"id":"cca0809d.85462","type":"inject","z":"7adc9110.aae43","name":"Inject Message","topic":"home/lights/D154A3","payload":"Hi there Liz, how are you?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2004.5,"y":539,"wires":[["8d181a.69bad7e8"]]},{"id":"d14a2176.dcf04","type":"mqtt out","z":"7adc9110.aae43","name":"Fireplace Endpoint","topic":"fireplace","qos":"","retain":"","broker":"6ce54943.72aab8","x":2264.5,"y":661,"wires":[]},{"id":"9bf169e2.d7b6b8","type":"inject","z":"7adc9110.aae43","name":"Inject Message","topic":"home/lights/D154A3","payload":"Hi there Liz, are you there?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2012,"y":657,"wires":[["d14a2176.dcf04"]]},{"id":"7ecf612a.2afd4","type":"template","z":"7adc9110.aae43","name":"CandyCane Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,11]}","output":"str","x":617,"y":1350.75,"wires":[["e017b8bd.a36ad8"]]},{"id":"d0111e6e.546a","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Xmas Candy Cane","topic":"","x":409,"y":1346,"wires":[["7ecf612a.2afd4"]]},{"id":"36cbc32e.c9171c","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Xmas Rainbow","topic":"","x":404,"y":1307,"wires":[["c66870c2.6d8b5"]]},{"id":"c66870c2.6d8b5","type":"template","z":"7adc9110.aae43","name":"Rainbow Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,14]}","output":"str","x":615,"y":1313,"wires":[["e017b8bd.a36ad8"]]},{"id":"2c7382bb.266d0e","type":"template","z":"7adc9110.aae43","name":"MidnightBlue Pattern","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"node\": 42, \"meth\": 2, \"type\": 20, \"data\":[10,13]}","output":"str","x":650.25,"y":1272,"wires":[["e017b8bd.a36ad8"]]},{"id":"70257c35.c1c2c4","type":"amazon-echo-device","z":"7adc9110.aae43","name":"Xmas Midnight Blue","topic":"","x":420,"y":1265,"wires":[["2c7382bb.266d0e"]]},{"id":"e20e28e7.bcc1e8","type":"serial-port","z":"7adc9110.aae43","serialport":"/dev/ttyGW2","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"35dfcc7e.64ed74","type":"ui_group","z":"","name":"Zone Control","tab":"d48288a7.fd8a88","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e0a3b30.e84468","type":"ui_group","z":"","name":"Sprinkler","tab":"d48288a7.fd8a88","order":1,"disp":true,"width":"6","collapse":false},{"id":"2dab935d.b634cc","type":"ui_group","z":"","name":"Dev Sprinkler Zones","tab":"a4bcb963.d01b68","order":2,"disp":true,"width":"6","collapse":false},{"id":"6ce54943.72aab8","type":"mqtt-broker","z":"","name":"pi09-broker","broker":"192.168.86.21","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d48288a7.fd8a88","type":"ui_tab","z":"","name":"Sprinkler Control","icon":"fa-shower","order":2,"disabled":false,"hidden":false},{"id":"a4bcb963.d01b68","type":"ui_tab","z":"","name":"Dev","icon":"dashboard","order":4,"disabled":true,"hidden":true}]